<!DOCTYPE html>
<html>
  <head>
    <title>myBlog</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/dist/css/mainTheme.css">
  </head>
  <body>
    <section class="nav">
      <a href="/"><h2 class="site-name">FunCulb</h2></a>
      <ul class="nav-bar">
        <li><a class="nav-link" href="/about">关于</a></li>
      </ul>
    </section>
    <section id="content-abt">
      <aside id="aside-abt">
        <img src="\Images\UserImgs\starlord.png">
        <ul id="userInfo">
          <li>万凌峰</li>
          <li>24</li>
          <li>现居成都</li>
        </ul>
      </aside>
      <section id="content-mk">
        <div><h1>关于我</h1>
<p>我是万凌峰，是一名软件工程师。热爱编程，热爱探索。喜欢电影，更爱音乐。<br>
主要的编程语言是C#和JavaScript，喜欢各种动态语言，尤其如JavaScript和Python。<br>
作为一个程序员，我非常崇尚简单、轻量的设计和开发模式。不断尝试深入探究现代Web后端架构及相关调优技术。<br>
喜爱鼓捣各种酷酷的技术如Docker、MircoService。<br>
2015年毕业，之后加入<a href="http://http://www.4008990000.net/">CNCT</a>工作至今。<br>
目前关注在后端，对于使用各项后端技术搭建可拓展、高性能的、分布式的现代Web应用尤为感兴趣。</p>
</div>
      </section>
    </section>
  </body>
</html>