<!DOCTYPE html>
<html>
  <head>
    <title>myBlog</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/dist/css/mainTheme.css">
  </head>
  <body>
    <section class="nav">
      <a href="/"><h2 class="site-name">FunCulb</h2></a>
      <ul class="nav-bar">
        <li><a class="nav-link" href="/about">关于</a></li>
      </ul>
    </section>
    <section id="content-abt">
      <aside id="aside-abt">
        <img src="\Images\UserImgs\starlord.png">
        <ul>
          <li>万凌峰</li>
          <li>24</li>
          <li>成都</li>
        </ul>
      </aside>
      <section id="content-mk"></section>
    </section>
  </body>
</html>