<!DOCTYPE html>
<html>
<head>
	<title>admin--><--myblog</title>
	<meta charset="utf8">
	<link rel="stylesheet" href="/dist/css/mainTheme.css">
</head>
<body>
	<section class="nav">
        <a href="#"><h2 class="site-name">FunCulb</h2></a>
        <ul class="nav-bar">
            <li><a class="nav-link" href="#">关于</a></li>
        </ul>
    </section>
	<section class="container">
      <section class="list-articles">
         <header class="list-header">
             <span id="admin-title">/ 添加文章</span>
         </header>
         <section class="list addart">

            <form>
            	<span>选择板块:</span>
            	<select id="tagname">
            		<option>请选择</option>
            		<option value="技术">技术</option>
            		<option value="生活">生活</option>
            		<option value="其他">其他</option>
            	</select>
              <span>归档:</span>
              <textarea id="classify-sub" placeholder="多个归档以';'分割" spellcheck="false" cols="30" rows="1"></textarea>
            	<br>
            	<textarea id="title" placeholder="标题字数10字以上" cols="30" spellcheck="false" rows="1"></textarea>
            	<br>
              <textarea id="content" ></textarea>
              <br>
              <button type="button" id="submit">提交</button>
            </form>
         </section>
      </section>
      <aside class="list-info">
          <section class="user-info">
              <header class="aside-header">
                  <span class="aside-header-title">用户信息</span>
              </header>
              <section class="aside-body">
                  <a class="user-link" href="/"><img class="avator-user" src="/" alt=""></a>
                  <span class="user-name">azathothes</span>
                  <span class="user-motor">“这家伙很懒什么都没留下”</span>
              </section>
          </section>

          <section class="user-info">
              <header class="aside-header">
                  <span class="aside-header-title">提示</span>
              </header>
              <section class="aside-body tips">
                  <span class="user-motor">don't trying to make some big news</span>
              </section>
          </section>

          <section class="user-info">
              <header class="aside-header">
                  <span class="aside-header-title">归ss档</span>
              </header>
              <section class="aside-body">
                  <ul class="classify">
                  <li><a href="/" class="class-tag">技术</a>      <span class="class-count">(3)</span></li>
                  <li><a href="/" class="class-tag">JavaScript</a><span class="class-count">(4)</span></li>
                  <li><a href="/" class="class-tag">NodeJs</a>    <span class="class-count">(4)</span></li>
                  </ul>
              </section>
          </section>
      </aside>
   </section>
   <section id="uploadBack">
      
   </section>
   <section id="uploadWin" >
    <header>
      <span>上传图片</span>
      <button id="close-btn">x</button>
    </header>
    <article>
      <form id="uploadForm" enctype="multipart/form-data">
          <input type="file" id='files' name='file-imgs' style='margin-left: 124px;margin-top: 73px;'></input>
       </form>
       <span id="notice"></span>
       <button id='sub-btn'>上 传</button>
    </article>     
   </section>
   <link rel="stylesheet" href="/dist/css/simplemde.min.css">
   <script src="/dist/js/simplemde.min.js"></script>
   <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
   <script src="/dist/js/content.min.js"></script>

   <script type="text/javascript">
     //上传文章图片
  document.getElementById('sub-btn').onclick = function (){
    var filename = $('#files')[0].value;
    filename = filename.toLowerCase();
    var test = new RegExp('^.+?\\.(jpg||png||gif)$')
    if(filename === "")
    {
      $('#notice').text("请选择一个文件上传！");
      return;
    }

    if(!test.test(filename))
    {
      $('#notice').text("图片文件格式错误！");
      return;
    }


    $.ajax({
      url: '/uploadImg_article',
        type: 'POST',
        cache: false,
        data: new FormData($('#uploadForm')[0]),
        processData: false,
        contentType: false,
        success:function(res){
          res = JSON.parse(res);
          if(res.isok)
          {
            console.log(res);
            document.getElementById( "uploadBack" ).style.visibility = "collapse"; 
          document.getElementById( "uploadWin" ).style.visibility = "collapse";
          simplemde.value(simplemde.value()+'![](\\'+res.filePath+')');
          $('#files')[0].value="";
          $('#notice').text("");

          }
          else
          {
          $('#notice').text("服务器错误！");
          }
        }
      })
  }



  var submitBtn = document.getElementById('submit');
  submitBtn.onclick = function(){
    var data = {};
    var tagname = document.getElementById('tagname');
    if(tagname.value === "" || tagname.value === "请选择")
    {
      alert('请选择文章类别！');
      return;
    }
    data.tagname = tagname.value;
    var classify = [];
    document.getElementById('classify-sub').value.split(';').forEach(function(a){if(a !== ""){
      classify.push(a);
    }})



    if(!classify || classify.length == 0)
    {
      alert('请为文章归档！');
      return;
    }
    data.classify = classify;
      var title = document.getElementById('title');
      if(title.value === "")
      {
        alert('缺少文章名！');
        return;
      }
      data.title = title.value;
      var content = simplemde.value();
      if(content === "")
      {
        alert('缺少文章类容！')
        return;
      }
      data.content = content;
      $.post('/post_article',data,function(msg){
        console.log(msg);
        var result = JSON.parse(msg);
        console.log(result);
        if(!result.isok)
        {
          alert('提交文章失败,原因: '+result.msg);
          return;
        }
        alert('成功提交！');
        window.location = '/';
      });
  }

  document.getElementById('close-btn').onclick = function(){
    document.getElementById( "uploadBack" ).style.visibility = "collapse"; 
    document.getElementById( "uploadWin" ).style.visibility = "collapse";
  }
   </script>
</body>
</html>
