<!DOCTYPE html>
<html>
<head>
	<title>admin--><--myblog</title>
	<meta charset="utf8">
	<link rel="stylesheet" href="/css/mainTheme.css">
</head>
<body>
	<section class="nav">
        <a href="#"><h2 class="site-name">FunCulb</h2></a>
        <ul class="nav-bar">
            <li><a class="nav-link" href="#">关于</a></li>
        </ul>
    </section>
	<section class="container">
      <section class="list-articles">
         <header class="list-header">
             <span id="admin-title">/ 添加文章</span>
         </header>
         <section class="list addart">

            <form>
            	<span>选择板块:</span>
            	<select name="tagname" id="tagname">
            		<option>请选择</option>
            		<option value="技术">技术</option>
            		<option value="生活">生活</option>
            		<option value="其他">其他</option>
            	</select>
              <span>归档:</span>
              <input type="text"  name="classname" value="">
            	<br>
            	<textarea name="title" id="title" placeholder="标题字数10字以上" cols="30" rows="1"></textarea>
            	<br>
              <textarea id="content" ></textarea>
              <br>
              <button type="button" id="submit">提交</button>
            </form>
         </section>
      </section>
      <aside class="list-info">
          <section class="user-info">
              <header class="aside-header">
                  <span class="aside-header-title">用户信息</span>
              </header>
              <section class="aside-body">
                  <a class="user-link" href="/"><img class="avator-user" src="/" alt=""></a>
                  <span class="user-name">azathothes</span>
                  <span class="user-motor">“这家伙很懒什么都没留下”</span>
              </section>
          </section>

          <section class="user-info">
              <header class="aside-header">
                  <span class="aside-header-title">提示</span>
              </header>
              <section class="aside-body tips">
                  <span class="user-motor">don't trying to make some big news</span>
              </section>
          </section>

          <section class="user-info">
              <header class="aside-header">
                  <span class="aside-header-title">归档</span>
              </header>
              <section class="aside-body">
                  <ul class="classify">
                  <li><a href="/" class="class-tag">技术</a>      <span class="class-count">(3)</span></li>
                  <li><a href="/" class="class-tag">JavaScript</a><span class="class-count">(4)</span></li>
                  <li><a href="/" class="class-tag">NodeJs</a>    <span class="class-count">(4)</span></li>
                  </ul>
              </section>
          </section>
      </aside>
   </section>
   <link rel="stylesheet" href="/css/simplemde.min.css">
   <script src="/js/simplemde.min.js"></script>
   <script type="text/javascript">
     window.onload = ()=>{
     var simplemde = new SimpleMDE({ element: document.getElementById("content") });

      document.getElementById("submit").onclick = ()=>{
        
      }
     }
   </script>
</body>
</html>
