<!DOCTYPE html>
<html>
<head>
   <title>myBlog</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/css/mainTheme.css">
</head>
<body>
   <section class="nav">
   <a href="#"><h2 class="site-name">FunCulb</h2></a>
      <ul class="nav-bar">
         <li><a class="nav-link" href="#">关于</a></li>
      </ul>
   </section>

      <article id="signup">
          <form action="/signup" method="post">
              <img src="/imgs/me.svg" alt="user_id">
              <input type="text" name="userid" class="input-box">

              <br>
              <img src="/imgs/password.svg" alt="user_id">
              <input type="password" name="passwd" class="input-box">
              <br>
              <input type="submit" id="submitsgn">
          </form>
      </article>
</body>
</html>
