<!DOCTYPE html>
<html>
<head>
   <title>myBlog</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/dist/css/mainTheme.css">
</head>
<body>
   <section class="nav">
   <a href="/"><h2 class="site-name">FunCulb</h2></a>
      <ul class="nav-bar">
         <li><a class="nav-link" href="#">关于</a></li>
      </ul>
   </section>

      <article id="signup">
          <form action="/signin" method="post">
              <input style="display: none" type="text" name="return" value="<%=returnurl.return || ""%>">
              <img src="/dist/imgs/me.svg" alt="user_id">
              <input type="text" name="userid" class="input-box">

              <br>
              <img src="/dist/imgs/password.svg" alt="user_id">
              <input type="password" name="passwd" class="input-box">
              <br>
              <input type="submit" id="submitsgn">
          </form>
      </article>
</body>
</html>
