<!DOCTYPE html>
<html>
  <head>
    <title>admin--><--myblog</title>  
    <meta charset="utf8">
    <link rel="stylesheet" href="/dist/css/mainTheme.css">
  </head>
  <body>
    <section class="nav">
      <a href="#"><h2 class="site-name">FunCulb</h2></a>
      <ul class="nav-bar">
        <li><a class="nav-link" href="#">关于</a></li>
      </ul>
    </section>
    <section class="container">
      <section class="list-articles">
        <section class="art-content">
          <header>
            <%if(article.art_is_top !== 0){%>
            <span class="tag-name good">置顶</span>
            <%}%>
            <h2 class="content-title"><%=article.art_title%></h2>
            <span style="visibility: hidden;" id="art_id"><%=article._id%></span>
            <br>
            <ul class="art-info">
              <li>●发布于<%=create_date%></li>
              <li>●作者<%=article.art_author.author_name%></li>
              <li>●<%=article.art_visit_count%> 次浏览</li>
              <li>●最后一次编辑是 <%=last_reply%></li>
              <li>●来自 <%=article.art_tag_info%></li>
            </ul>
          </header>
        <article id="content-real"><%-article.art_content%></article>
        <%if(article.art_classify && article.art_classify.length>0){%>
        <footer id="content-footer">
            <span>标签：</span>
            <ul>
              <%for(var i of article.art_classify){%>
                <li><a href="/?class=<%=i%>"><%=i%></a></li>
              <%}%>
            </ul>
        </footer>
        <%}%>
        
      </section>
      <%if(article.art_reply.length>0){%>
      <section class="reply">
        <header class="header-reply"><span id='ok'><%=article.art_reply.length%>回复</span></header>
        <section id="reply-lists">
                            
          <%for(var i = 0;i<article.art_reply.length;i++){%>
          <section class="reply-row">
            <header class="reply-header">
              <a href="user/<%=article.art_reply[i].reply_user._id%>"><img class="reply-avator"           src="<%=article.art_reply[i].reply_user.usr_avator%>"></a>
              <a class="replyer-link" href="user/<%=article.art_reply[i].reply_user._id%>"><%=article.art_reply[i].reply_user.usr_nick_name%></a>
              <span class="reply-time"><%=moment(article.art_reply[i].reply_time).fromNow()%></span>
            </header>
            <article class="reply-body">
              <%-article.art_reply[i].reply_content%>
            </article>
          </section>
          <%}%>


        </section>
      </section>
      <%}%>
<%if(visitor){%>
      <section class="user-reply">
        <header class="header-reply"><span class="aside-header-title">添加回复</span></header>
        

        <section>
          <textarea id="content"></textarea>
          <button id="sub-reply">回复</button>
        </section>
        
      </section>
      <%}%>
    </section>
    <aside class="list-info">
      <section class="user-info">
        <header class="aside-header">
          <span class="aside-header-title">用户信息</span>
        </header>
        <section class="aside-body">
          <a class="user-link" href="/"><img class="avator-user" src="/" alt=""></a>
          <span class="user-name">azathothes</span>
          <span class="user-motor">“这家伙很懒什么都没留下”</span>
        </section>
      </section>
      <section class="user-info">
        <header class="aside-header">
          <span class="aside-header-title">提示</span>
        </header>
        <section class="aside-body tips">
          <span class="user-motor">don't trying to make some big news</span>
        </section>
      </section>
      <section class="user-info">
        <header class="aside-header">
          <span class="aside-header-title">归档</span>
        </header>
        <section class="aside-body">
          <ul class="classify">
            <li><a href="/" class="class-tag">技术</a>      <span class="class-count">(3)</span></li>
            <li><a href="/" class="class-tag">JavaScript</a><span class="class-count">(4)</span></li>
            <li><a href="/" class="class-tag">NodeJs</a>    <span class="class-count">(4)</span></li>
          </ul>
        </section>
      </section>
    </aside>
  </section>
  <section id="uploadBack">
      
   </section>
  <section id="uploadWin" >
    <header>
      <span>上传图片</span>
      <button id="close-btn">x</button>
    </header>
    <article>
      <form id="uploadForm" enctype="multipart/form-data">
          <input type="file" id='files' name='file-imgs' style='margin-left: 124px;margin-top: 73px;'></input>
       </form>
       <span id="notice"></span>
       <button id='sub-btn'>上 传</button>
    </article>     
   </section>
   <link rel="stylesheet" href="/dist/css/simplemde.min.css">
   <script src="/dist/js/simplemde.min.js"></script>
   <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
   <script src="/dist/js/content.min.js"></script>
   <style type="text/css">
   .CodeMirror, .CodeMirror-scroll {
      min-height: 100px;
    }
    .CodeMirror {
      height: 100px ! important;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #bcbcbc;
    }
    .editor-toolbar {
      border-top: 0px; 
      border-left: 0px; 
      border-right: 0px;
    }
   </style>
   <script type="text/javascript">
      //上传文章图片
  document.getElementById('sub-btn').onclick = function (){
    var filename = $('#files')[0].value;
    filename = filename.toLowerCase();
    var test = new RegExp('^.+?\\.(jpg||png||gif)$')
    if(filename === "")
    {
      $('#notice').text("请选择一个文件上传！");
      return;
    }

    if(!test.test(filename))
    {
      $('#notice').text("图片文件格式错误！");
      return;
    }


    $.ajax({
      url: '/uploadImg_article',
        type: 'POST',
        cache: false,
        data: new FormData($('#uploadForm')[0]),
        processData: false,
        contentType: false,
        success:function(res){
          res = JSON.parse(res);
          if(res.isok)
          {
            console.log(res);
            document.getElementById( "uploadBack" ).style.visibility = "collapse"; 
          document.getElementById( "uploadWin" ).style.visibility = "collapse";
          simplemde.value(simplemde.value()+'![](\\'+res.filePath+')');
          $('#files')[0].value="";
          $('#notice').text("");

          }
          else
          {
          $('#notice').text("服务器错误！");
          }
        }
      })
  }



  var submitBtn = document.getElementById('sub-reply');
  submitBtn.onclick = function(){
    var data = {};
    
      var content = simplemde.value();
      if(content === "")
      {
        alert('缺少评论类容！')
        return;
      }
      data.content = content;
      data.reply_art_id = $('#art_id').text();



      $.post('/article_reply',data,function(msg){
        
        var result = JSON.parse(msg);
        alert(msg)
        if(!result.isok)
        {
          alert('评论文章失败,原因: '+result.msg);
          return;
        }

        location.reload();
        
      });
  }

  document.getElementById('close-btn').onclick = function(){
    document.getElementById( "uploadBack" ).style.visibility = "collapse"; 
    document.getElementById( "uploadWin" ).style.visibility = "collapse";
  }
   </script>
</body>
</html>