<!DOCTYPE html>
<html>
<head>
   <title>myBlog</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/stylesheets/mainTheme.css">
</head>
<body>
   <section class="nav">
   <a href="#"><h2 class="site-name">FunCulb</h2></a>
      <ul class="nav-bar">
         <li><a class="nav-link" href="#">新随笔</a></li>
         <li><a class="nav-link" href="#">注册</a></li>
         <li><a class="nav-link" href="#">关于</a></li>
      </ul>
   </section>

   <section class="container">
      <section class="list-articles">
         <header class="list-header">
             <ul class="nav-article">
                 <li><span>技术</span></li>
                 <li><span>生活</span></li>
                 <li><span>其他</span></li>
             </ul>
         </header>
         <section class="list"></section>
      </section>
      <aside class="list-info"></aside>
   </section>
</body>
</html>