<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VoidMirage</title>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/mainTheme.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
<script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
	<div class="navbar-header">
      <a class="navbar-brand" href="/index">VoidMirage</a>
   </div>
   <div>
   <ul class="nav navbar-nav">
   	<li><a href="/post">新文章</a></li>
      <%if(userinfo){%>
      <li><a href="/logout">登出</a></li>
      <span id = "hidden"><%=userinfo._id%></span>
      <%}else{%>
<li><a href="/login">登录</a></li>

      <%}%>
      
   </ul>

   </div>
</nav>

<div id="main">
<div id="content">
	<div class="panel">
		<div class="header">
			<span id="poster_header">添加主题</span>
			<input type="text" class="form-control" id="name" placeholder="请输入标题">
		</div>
		<div class="poster">
			<textarea></textarea>
		</div>
		<div id="tail">
			<button class="btn btn-success" id="submit">提 交</button>
		</div>
	</div>
</div>
<div id="sidebar">
	<div class="panel">
		<div class="header">
			<span>markdown语法</span>
		</div>
		<div id="infos">
			<ol>
				<li>### 单行的标题</li>
				<li>**粗体**</li>
				<li>`console.log('行内代码')`</li>
				<li>```js\n code \n``` 标记代码块</li>
				<li>[内容](链接)</li>
				<li>![文字说明](图片链接)</li>
				<li></li>
			</ol>
		</div>
	</div>
	<div class="panel">
		<div class="header">
			<span>Tips</span>
		</div>
		<div>
			<span id="tips">不要搞大新闻。</span>
		</div>
	</div>
</div>
</div>
<div id="upload">
	<div id="updTitle">
	<span id="uploadTil">图片</span>
	<span id="close">X</span>
	</div>
	<div></div>
</div>
<div id="wall"></div>
<script type="text/javascript">
	window.onload = ()=>{
		var editor = new Editor();
		editor.render();
		$(".icon-image").click(()=>{
			$("#upload").css({"display":"block","z-index":"999"});
			$("#wall").css({"display":"block"});
		});

		$("#submit").click(()=>{
			//validate
			var a = editor.codemirror.getValue();
			if(!a || a.length == 0)
			{
				alert("no contents");
				return;
			}
			$.post('/post',{title:$("#name").val(),content:a,uid:$("#hidden").text()},(data)=>{
				if(data.issuccess)
				{
					window.location = '/home';
				}
				else
				{
					alert(data.mesg);
				}
			});
		});
	}
</script>
</body>
</html>