
<!DOCTYPE html>
<head>
	<title>Create Account</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="stylesheets/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="stylesheets/reg/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-gray">
	<h1 class="margin-bottom-15">Create Account</h1>
	<div class="container">
		<div class="col-md-12">			
			<form class="form-horizontal templatemo-create-account templatemo-container" role="form" action="/reg" method="post">
				<div class="form-inner">
					<div class="form-group">
			          <div class="col-md-6">		          	
			            <label for="first_name" class="control-label">First Name</label>
			            <input type="text" class="form-control" id="first_name" name='name' placeholder="">		            	
			            <span><%=locals.nameerror%></span>            		            
			          </div>             
			        </div>
					<div class="form-group">
					<div class="col-md-6">		          	
			            <label for="login_name" class="control-label">Login ID</label>
			            <input type="text" class="form-control" id="last_name" name='loginname' placeholder="">		           
			            <span><%=locals.loginerror%></span>  	            		            
			          </div>  
					</div>
			        <div class="form-group">
			          <div class="col-md-6">		          	
			            <label for="username" class="control-label">Email</label>
			            <input type="email" class="form-control" id="email" name='email' placeholder="">		            		            		            
			          </div>              
			        </div>		
			        <div class="form-group">
			          <div class="col-md-6">
			            <label for="password" class="control-label">Password</label>
			            <input type="password" class="form-control" id="password_confirm" name='psd1' placeholder="">
			          </div>
			        </div>
			        <div class="form-group">
			        <div class="col-md-6">
			            <label for="password" class="control-label">Confirm Password</label>
			            <input type="password" class="form-control" id="password_confirm" name='psd2' placeholder="">
			            <span><%=locals.passwderror%></span>
			          </div>
			          </div>
			        <div class="form-group">
			          <div class="col-md-6">
			            <input type="submit" value="Create account" class="btn btn-info">
			            <a href="login-1.html" class="pull-right">Login</a>
			          </div>
			        </div>
				</div>				    	
		      </form>		      
		</div>
	</div>
	<script type="text/javascript" src="javascripts/jquery/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
</body>
</html>