<!DOCTYPE html>
<html>
<head>
   <title>myBlog</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/stylesheets/mainTheme.css">
</head>
<body>
   <section class="nav">
   <a href="#"><h2 class="site-name">FunCulb</h2></a>
      <ul class="nav-bar">
         <li><a class="nav-link" href="#">新随笔</a></li>
         <li><a class="nav-link" href="#">注册</a></li>
         <li><a class="nav-link" href="#">关于</a></li>
      </ul>
   </section>
   <section class="">
      <article>
         
      </article>
   </section>
</body>
</html>