
body{
	margin:0px;
	font-family: 微软雅黑;
}
.nav{
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px black;
	z-index: 99999;
}
.site-name{
	margin: 10px;
	font-size: 20px;
	float: left;
}
.nav-bar{
	list-style: none;
	float: right;
	padding: 0px;
	height: 20px;
	margin: 15px 0px;
	margin-right: 20px;

}
.nav-bar li{
	float: left;
	display: inline-block;
	margin: 0px 10px;
}
.nav-link{
	text-decoration: none;
	color: black;
}
.container{
	width: 1215px;
	background-color: #E6E6E6;
	margin: 70px auto;
	border-radius: 5px;
	overflow: hidden;
}
.list-articles{
 float: left;
    z-index: 88888;
    width: 840px;
    margin: 10px;
}
.nav-article{
	overflow: hidden;
	margin: 12px 0px 12px 0px;
	padding: 0px;

}
.nav-article li{
	float: left;
	display: inline-block;
}
.list-header{
	background-color: #F6F6F6;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 35px;
    overflow: hidden;
}
.nav-title{
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;

}

.activate{
	background-color: #80BD01;
	color: white !important;
	border-radius: 5px;
}
.list-header a{
	text-decoration: none;
	display: inline-block;
	color:  #80BD01;
	width: 36px;
	height: 23px;
	text-align: center;
	margin-top: 6px;
	margin-left: 10px;
}
.list{
	background-color: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.articles{
	min-height: 50px;
	padding: 10px;
	border-bottom: 1px solid #f0f0f0;
	-webkit-box-sizing: border-box;
	overflow: hidden;
}
.articles:hover{
	background-color: #F5F5F5;
}
.usr-avator{
	height: 30px;
	width: 30px;
}
.vis-info{
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
}
.art-rep{
	color: #9e78c0;
}
.art-vis{
	color: #b4b4b4;
}
.art-title{
	display: inline-block;
	text-decoration: none;
	color: black;
	vertical-align: top;
	margin-top: 4px;
}
.art-rep-avt{
	display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    float: right;
    margin-right: 10px;
}
.rep-time{
	display: inline-block;
	vertical-align: top;
    margin-top: 6px;
    float: right;
    color:#b4b4b4;
}
.list-footer{
	height: 30px;
}
.nav-art-pages{
	list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 40px;
    padding: 4px;
    -webkit-box-sizing: border-box;
    text-align: center;
}
.nav-art-pages li{
	display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 2em;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.nav-art-pages li:last-child{
    border-right: 1px solid #dddddd;
}
.nav-art-pages li a{
	text-decoration: none;
	color: #778087;
}
.list-info{
	        width: 345px;
    float: right;
    z-index: 88888;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    max-width: 355px;
}
.tag-name{
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    background-color: #bcbcbc;
    border-radius: 5px;
    width: 38px;
    color: white;
    text-align: center;

}
.aside-header{
	background-color: #f6f6f6;
	height: 35px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.aside-header-title{
	display: inline-block;
    margin-top: 6px;
    margin-left: 7px;
}
.aside-body{
	background-color: white;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 5px;
}
.avator-user{
	width: 48px;
	height: 48px;
}
.user-link{
	display: inline-block;
    height: 48px;
    margin: 10px;
}
.user-name{
	display: inline-block;
    vertical-align: top;
    margin-top: 21px;
    font-size: 20px;
}
.user-motor{
	display: block;
}
.user-info{
	margin-bottom: 10px;
}
.classify{
	list-style: none;
	padding: 0px;
	margin:0px;
}
.classify li{
	display: block;
    height: 29px;
    border-bottom: 1px solid #f0f0f0;
}
.class-tag{
	vertical-align: middle;
    display: inline-block;
    margin-left: 7px;
    text-decoration: none;
}
.class-count{
	vertical-align: middle;
    display: inline-block;
}
.tips{
	padding-left: 10px;
    padding-top: 5px;
}
#admin-title{
	display: inline-block;
    margin: 7px;
    color: #0f9494;
}
.addart{
	padding: 10px;
}
select{
	height: 25px;
    width: 150px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
}
#title{
    width: 98%;
		font-family: inherit;
    resize: none;
    height: 20px;
    padding: 5px;
    border: 1px solid #bcbcbc;
    font-size: 15px;
    border-radius: 5px;
}
#content{
	/*font-family: inherit;
  width: 98%;
  resize: none;
  height: 420px;
  padding: 5px;
  border: 1px solid #bcbcbc;
  font-size: 17px;
  border-radius: 5px;*/
}
#submit{
  width: 100px;
height: 30px;
font-size: 15px;
border: 1px solid #80bd01;
cursor: pointer;
border-radius: 6px;
background: #80bd01;
color: white;
}
#signup{
	width: 400px;
    height: 180px;
    margin: 15% auto;
    background: #E6E6E6;
    border-radius: 10px;
    text-align: center;
}
.input-box{
	        height: 25px;
    width: 250px;
    margin-top: 30px;
    border: 1px solid #bcbcbc;
    font-size: 20px;
    border-radius: 7px;
}
.input-box:focus{
	border:1px solid #bcbcbc;
}
#submitsgn{
	width: 150px;
    height: 30px;
    font-size: 15px;
    border: 1px solid #80bd01;
    cursor: pointer;
    border-radius: 6px;
    background: #80bd01;
    color: #fff;
    margin-top: 14px;
}
.art-content{
    background: white;
    border-radius: 5px;
}
.good{
	background-color: #80bd01; 
	margin-top: 16px;
    margin-left: 15px;
    margin-right: 10px;
}
.content-title{
	display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
}
.art-info{
	    margin-top: 0px;
    color: gray;
    padding-left: 0px;
    margin-bottom: 0px;
}
.art-info li{
	display: inline-block;
	margin-right: 10px;
	font-size: 1px;
}
#content-real{
	width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #dcdcdc;
    box-sizing: border-box;
    padding-bottom: 10px; 
}
code{ 
    color: #333;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border: 0px;
    background-color: #EEEEEE;
    border-radius: 4px;
}
.reply{
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
}
.reply header{
	
}   
.header-reply{
    background-color: #F6F6F6;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 30px;
    overflow: hidden;
} 
.reply header span{
	
}
#ok{
    display: block;
    margin: 5px;
}
blockquote{
    margin-left: 0px;
    border-left: 5px solid #bcbcbc;
    padding-left: 10px;
}
h1{
    font-size: 2em;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
pre{
        /*padding: 10px;
    background: #F9F9F5;
    display: inline-block*/
}
.art-content header{
    padding: 10px;
}
.list-footer{
    height: 40px;
}
#uploadWin{
    width: 400px;
    height: 200px;
    background: #fff;
    z-index: 100011;
    border-radius: 10px;
    position: relative;
    margin: -540px auto;
    visibility: collapse;
}
#uploadWin header{
    padding: 6px;
    border-bottom: 1px solid #bcbcbc;
}
#uploadBack{
    width: 100%;
    height: 100%;
    position: fixed;
    background: black;
    z-index: 100000;
    opacity: 0.2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: collapse;
}
#close-btn{
    float: right;
    border: 1px solid;
    background: white;
    font-size: 19px;
    font-weight: bold;

    color: #bcbcbc;
    cursor: pointer;
    border-radius: 7px;
}
#sub-btn{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    width: 80px;
    height: 30px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    color: white;
    background: green;
}
#content-real img{
   max-width: 100%;
}
.editor-preview.editor-preview-active img{
    max-width: 100%;
}
#notice{
        float: left;
    margin-top: 40px;
    margin-left: 20px;
}
.reply-avator{
    width: 30px;
    height: 30px;
    float: left;
}
.reply-header{
    overflow: hidden;
}
.reply-row{
     
        border-top: 1px solid #f0f0f0;
    padding: 10px;
}
.replyer-link{
    text-decoration: none;
    font-size: 13px;
    color: #666;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.reply-time{
    font-size: 1px;
    color:darkseagreen;
    float: right;
    margin-top: 5px
}
.reply-body{
        width: 100%;
    padding-left: 40px;
    padding-right: 20px;
    box-sizing: border-box;
   
}
.reply-body p{
    margin-top: 0px;
}
.user-reply{
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
}
#sub-reply{
    width: 100px;
    height: 30px;
    font-size: 15px;
    border: 1px solid #80bd01;
    cursor: pointer;
    border-radius: 6px;
    background: #80bd01;
    color: white;
    margin: 10px;
}
#classify-sub{
        width: 65%;
    float: right;
    font-family: inherit;
    resize: none;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
}
#content-footer{
    padding: 10px;
}
#content-footer a{
    text-decoration: none;
    color: gray;
    cursor: pointer;
}
#content-footer span{
    float: left;
    color: gray;
    font-size: 12px;
}
#content-footer ul{
    padding: 0;
    list-style: none;
    margin: 0px;
    display: inline-block;
    overflow: hidden;
}
#content-footer ul li{ 
    color: gray;
    font-size: 12px;
    margin-left: 5px;
    display: inline-block;
    float: left;
}
#notfound-title{
    font-size: 10em;
    text-align: center;
}
#notfound-title-little{
    font-size: 2em;
    text-align: center;
}
#content-abt{
    margin: 0px auto;
    position: relative;
    top: 55px;
    max-width: 1366px;
    overflow: hidden;
    min-width: 1366px;
}
#aside-abt{
    margin: 10px;
    height: 300px;
    float: left;
    background: #f0f8ff;
    box-shadow: 0 2px 5px 1px #bcbcbc;
    max-width: 270px;
}
#content-mk{
    margin: 10px;
    float: right;
    width: 1058px;
    background: #FAEBF0;
    box-shadow: 0 0 3px 1px #bababa;
    max-width: 1058px;
    min-width: 1058px;
    padding: 10px;
    box-sizing: border-box;
}
#aside-abt img{
    width: 180px;
    height: 180px;
    margin: 20px 44px;
}
#userInfo{
    margin: 0px;
    padding-left: 62px;
    text-align: left;
}