body{
	margin:0px;
	font-family: 微软雅黑;
}
.nav{
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px black;
	z-index: 99999;
}
.site-name{
	margin: 10px;
	font-size: 20px;
	float: left;
}
.nav-bar{
	list-style: none;
	float: right;
	padding: 0px;
	height: 20px;
	margin: 15px 0px;
	margin-right: 20px;

}
.nav-bar li{
	float: left;
	display: inline-block;
	margin: 0px 10px;
}
.nav-link{
	text-decoration: none;
	color: black;
}
.container{
	width: 90%;
	height: 4000px;
	background-color: #E6E6E6;
	margin: 70px auto;
	border-radius: 5px;
}
.list-articles{
 width: 70%;
 float: left;
 z-index: 88888;
}
.nav-article{
	overflow: hidden;
	margin: 12px 0px 12px 0px;
	padding: 0px;

}
.nav-article li{
	float: left;
	display: inline-block;
}
.list-header{
	background-color: #F6F6F6;
	margin-top: 5px;
	margin-left: 5px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 35px;
    overflow: hidden;
}